.hamburger-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 4rem;
}

.list-item-hamburger {
    list-style-type: none;
    padding: 1rem;
}

.hamburger-links {
    color: rgb(34, 34, 34);
}

.hamburger-menu {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
    height: 100vh;
    top: 0;
    width: 60vw;
    transition: all 0.7s ease-in-out;
    /* animation: translate 0.7s ease-in-out; */
    transform: translateX(70%);
}
.hamburger-menu-hide{
    position: fixed;
    background-color: #fff;
    z-index: 10;
    box-shadow: 2rem 0 2rem rgba(0, 0, 0, 0.09);
    height: 100vh;
    top: 0;
    width: 60vw;
    transition: all 0.7s ease-in-out;
    /* animation: translate 0.7s ease-in-out; */
    transform: translateX(200%);
}

/* @keyframes translate {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(70%);
    }
} */