/* container */
.myFooter{
    background-color: var(--secondary-color);
    color: hsl(167, 40%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 250px;
    padding: 1.5rem;
}

.footer-heading {
    color: hsl(167, 40%, 24%);
}

/* list items of footer */
.social,
.footer-links {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

/* link */
.footer-link {
    color: hsl(167, 40%, 24%);
}




